.loved-by {
  height: 492px;
  background-color: rgb(239 239 239);
  // .loved-by__title
  &__title {
  }

  // .loved-by__companies
  &__companies {
    box-sizing: border-box;
    padding-top: 20px;
    margin: auto;
  }
}

.loved-by-title {

  // .loved-by-title__h2
  &__h2 {
    padding-top: 80px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
  }
}

.loved-by-companies {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  width: 1140px;
  // .loved-by-companies__company
  &__company {
  }
}

.loved-by-company {

  // .loved-by-company__img
  &__img {
    //align-self: baseline;
  }
}

.loved-by-company_1 {

  // .loved-by-company_1__img
  &__img {
  }
}

.loved-by-company_2 {

  // .loved-by-company_2__img
  &__img {
  }
}

.loved-by-company_3 {

  // .loved-by-company_3__img
  &__img {
  }
}

.loved-by-company_4 {

  // .loved-by-company_4__img
  &__img {
    padding-top: 20px;
    padding-left: 30px;
  }
}

.loved-by-company_5 {

  // .loved-by-company_5__img
  &__img {
    padding-top: 20px;
    padding-left: 25px;
  }
}

.loved-by-company_6 {

  // .loved-by-company_6__img
  &__img {
    padding-top: 20px;
    padding-right: 3px;
  }
}
